<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">

	<body class='lazy' id='index' data-original='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/bg-triangles-faded.png' style='background-image:url(https://d1ophd2rlqbanb.cloudfront.net/springone2gx/bg-triangles-faded.png)'>

    <div layout:fragment="content">
      <div class='container-main'>
        <div class='container'>
	        <div id='intro'>
		        <h2>In the past, SpringOne joined with the 2GX Groovy &amp; Grails conference to bring together two communities focused on building great things with the JVM. This year the focus will evolve to something different. 2GX will be rebranded as the G3 Summit hosted by <a href='http://nofluffjuststuff.com/'>No Fluff Just Stuff</a>—the premier event featuring the Groovy, Grails, and Gradle ecosystems. SpringOne will become SpringOne Platform featuring <a href='http://spring.io'>Spring</a> and <a href='http://pivotal.io'>Pivotal</a> communities.</h2>
	        </div>
        	<div class='fifty'>
		        <img id='logo-sop' src='https://d1ophd2rlqbanb.cloudfront.net/logo-springone-platform.png'></img>
		        <br/>
		        <h3><strong>September 24-27, 2018 &middot; Washington, D.C.</strong></h3>
		        <h4>Bringing together the people, processes and tools for delivering solutions with Spring</h4>
		        <br/>
		        <h3 class='cta'>
			        <a href='https://springoneplatform.io'>
		        		<strong>Learn More</strong>
		        		<div class='arrow-right'></div>
			        </a>
			      </h3>
		      </div>
		      <div class='fifty'>
	        	<img src='https://d1ophd2rlqbanb.cloudfront.net/springone2gx/logo-g3summit-white.png'></img>
		        <br/>
		        <h3><strong>Nov 28–Dec 1, 2017 &middot; Austin</strong></h3>
		        <h4>The Conference for the Groovy, Grails, and Gradle Community</h4>
		        <br/>
		        <h3 class='cta'>
		        	<a href='https://g3summit.com/conference/austin/2017/11/home'>
		        		<strong>Learn More</strong>
		        		<div class='arrow-right'></div>
		        	</a>
		        </h3>
		      </div>
		      <br/>
		      <br/>
		      <div id='lastyear'>
		      	<h4><a href='https://www.slideshare.net/Pivotal/tagged/SpringOne%20Platform'>2017 Slides</a>
		      	&middot;
		      	<a href='https://www.youtube.com/playlist?list=PLAdzTan_eSPQ2uPeB0bByiIUMLVAhrPHL'>2017 Videos</a></h4>
		      </div>
		    </div>
		  </div>
    </div>
	</body>
</html>
